.navbar {
    height: 10%;
    padding-left: 32px;
    background: #CCCCCC;
}

footer {
    z-index: 2;
    text-align: center;
    position: fixed;
    color: black;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0;
    height: 300px;
    background-color: #CCCCCC;
    display: none;
}

.fTab {
    z-index: 2;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 180px;
    padding: 1em;
    background-color: #CCCCCC;
}

.fTab.active {
    bottom: 200px;
}

.fTab.active + footer {
    max-height: 200px;
    display: block;
}